<!DOCTYPE html>
    <html>
        
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.5/jsrender.min.js"></script>
        <script type="text/javascript" src="https://cdn.boldbi.com/embedded-sdk/v4.1.36/embed-js.js"></script>
        
        <script type="text/javascript">
        function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
            $(document).ready(function(){
            this.dashboard = BoldBI.create(
                        { serverUrl:'{{server_url}}',
                        dashboardId:'{{dashboard_id}}',
                         embedContainerId: 'dashboard',
                         embedType:'component',
                         environment:'onpremise',
                         expirationTime: 100000,
                         authorizationServer:{url: "{% url 'get_embed_details'%}" ,
                         headers: {'X-CSRFToken': csrftoken}
                        },
                         dashboardSettings:{showExport: false,showRefresh: false,showMoreOption: false}
                        });
            console.log(this.dashboard);
            this.dashboard.loadDashboard();
                    });
        </script>
    </head>
    
    <body >
        <div id="viewer-section">
            <div id="dashboard"></div>
        </div>
    </body>
    
    </html>