.about-heading {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 15px 12px;
    color: #485058;
    font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    letter-spacing: .05px;
}

.about-description {
    text-align: justify;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 15px;
    color: #485058;
    font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    letter-spacing: .05px;
    padding-left: 15px;
}

.list-heading {
    font-size: 14px;
    padding-left: 15px;
    font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
