<div class="property-heading-container">
    <span class="property-heading">Properties</span>
    <span id="property-close" class="property-close-icon"><i class="fa fa-times"></i></span>
</div>

<div class="dashboard-text-field">
    <label class="dashboard-label">Select Dashboard</label>
    <button id="select-dashboard" class="dropdown-toggle dashboard-input-field" type="button" data-toggle="dropdown">
        <span>Workforce Performance Management Dashboard</span>
    </button>
    <ul class="dropdown-menu">
        <li class="disabled">Select dashboard</li>
        <li data-id="eb3c981c-b095-4844-85ff-951c02eb1d70" data-path="/Human Resources/Workforce Performance Management Dashboard" class="active">Workforce Performance Management Dashboard</li>
        <li data-id="483d7bcc-118d-43dc-8906-0206ac0e3a59" data-path="/Sales/Sales Leads Tracking Dashboard">Sales Leads Tracking Dashboard</li>
        <li data-id="2f2221c6-bcf5-4c2e-bfcb-87404b64b1f4" data-path="/Construction/Construction Project Monitoring Dashboard">Construction Project Monitoring Dashboard</li>
        <li data-id="ad07251a-e6a4-400c-b1c0-77aba9f72f82" data-path="/Agile/Customer Satisfaction Dashboard">Customer Satisfaction Dashboard</li>
        <li data-id="60abf41c-86db-4775-a10e-1c98bb5dd3d3" data-path="/Template Dashboards/Incident Management Dashboard">Incident Management Dashboard</li>
    </ul>
</div>

<div class="dashboard-text-field">
    <label class="dashboard-label">Dashboard ID</label>
    <input type="text" class="dashboard-input-field" id="dashboard-id" placeholder="Dashboard ID" value="eb3c981c-b095-4844-85ff-951c02eb1d70" />
</div>

<div class="dashboard-text-field">
    <label class="dashboard-label">Dashboard Path</label>
    <input type="text" class="dashboard-input-field" id="dashboard-path" placeholder="Dashboard Path" value="/Human Resources/Workforce Performance Management Dashboard" />
</div>

<div class="load-dashboard-button">
    <span>Load Dashboard</span>
</div>