/* login.component.css */

/* Make login-component full screen */
.login-component {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQ1IiBoZWlnaHQ9IjMzNyIgdmlld0JveD0iMCAwIDM0NSAzMzciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTAwLjc0OCAwSDIwMS40OTZDMjI5LjMxMSAwIDI1MS44ODMgMjIuNTcxMSAyNTEuODgzIDUwLjM4NjJWMTAwLjc5N0MyNTEuODgzIDEyOC42MTIgMjI5LjMxMSAxNTEuMTgzIDIwMS40OTYgMTUxLjE4M0gwVjEwMC43OTdDMCA0NS4wOTM4IDQ1LjA5MzggMCAxMDAuNzQ4IDBaIiBmaWxsPSIjRkZFRkVBIi8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMzAxLjg4MyAwQzM1Ny40ODkgMCA0MDIuNjMxIDQ1LjE2NjMgNDAyLjYzMSAxMDAuNzk3VjE1MS4xODNIMzUyLjI2OUMzMjQuNDU0IDE1MS4xODMgMzAxLjg4MyAxMjguNjEyIDMwMS44ODMgMTAwLjc5N1YwWiIgZmlsbD0iI0ZGRUZFQSIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAgMjAxLjE4M0gyMDEuNDk2QzIyOS4zMTEgMjAxLjE4MyAyNTEuODgzIDIyMy43NTQgMjUxLjg4MyAyNTEuNTY5VjM1Mi4zNjVDMjUxLjg4MyAzODAuMTggMjI5LjMxMSA0MDIuNzUyIDIwMS40OTYgNDAyLjc1MkgxMDAuNzQ4QzQ1LjE0MjIgNDAyLjc1MiAwIDM1Ny42MDkgMCAzMDEuOTc5VjIwMS4xODNaIiBmaWxsPSIjRkZFRkVBIi8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMzUyLjI2OSAyMDEuMTgzSDQwMi42MzFWMzAxLjk3OUM0MDIuNjMxIDM1Ny42MDkgMzU3LjQ4OSA0MDIuNzUyIDMwMS44ODMgNDAyLjc1MlYyNTEuNTY5QzMwMS44ODMgMjIzLjcwNSAzMjQuNDA1IDIwMS4xODMgMzUyLjI2OSAyMDEuMTgzWiIgZmlsbD0iI0ZGRUZFQSIvPgo8L3N2Zz4K');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 40vh auto;
}

.left-container {
  background: transparent;
  margin: 10px 20px;
  width: 69%;
}

/* Centered Login Container */
.login-container {
  height: 90%;
    width: 80%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.parent-div {
  width: 374px;;
}

/* Form header (e.g., "Login") */
.login-header {
  text-align: left;
  font-size: 24px;
}

.login-subtext {
  font-size: 16px;
  color: #555; /* Slightly muted text color */
  text-align: left;
}

.user-label {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  display: block;
}

.child-div::before {
  content: "";
  position: absolute;
  top: 57%;
  left: 77%;
  width: 380px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(50px);
  z-index: -1;
}

  /* Form fields and labels */
  .form-group {
    margin-bottom: 15px;
  }

  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  /* Login button */
  .login-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--Component-colors-Components-Buttons-Primary-button-primary-bg, #7F56D9);
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }

  // .login-button:hover {
  //   background-color: #0056b3;
  // }

  /* Error message (if needed) */
  .error-message {
    color: #ff0000;
    margin-top: 10px;
    text-align: center;
  }

  /* Optional: Center the form vertically and horizontally on the page */
  /* You can adjust the styles based on your layout needs */
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }

  .scrollable-table table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
  }

  .scrollable-table th, .scrollable-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .scrollable-table th {
    background: #f4f4f4;
  }

  .maximize-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
  }

  /* Scrollable Table */
.scrollable-table {
    max-height: 100%;
    overflow: auto;
    background: white;
}

.modal {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  position: fixed;         /* Fixes the position relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw;             /* Full viewport width */
  height: 100vh;            /* Full viewport height */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background */
  z-index: 1000;
}

.modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 1340px;
  overflow-x: auto;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  border-radius: 8px;
}

.close-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 15px;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.scrollable-table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Adds a subtle stripe effect */
}

.scrollable-table tbody td:hover {
    background-color: #f1f1f1; /* Highlight row on hover */
}

.child-div, .scrollable-table {
  // border: 1px solid #ccc; /* Add border for clarity */
  padding: 10px; /* Add padding for spacing */
}

.child-div {
  border: 1px solid #d5d0d0;
  border-radius: 24px;
  padding: 20px;
  background-color: #fff;
}

.credentials {
  width: 100%;
  max-height: 86vh;
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
}

.divider {
  border: none;
  border-left: 1px solid #ccc; /* Make it vertical */
  height: 600px; /* Extend to the height of the container */
  margin: 0 10px; /* Add some horizontal spacing */
}
.site-description {
  margin-top: 20px; /* Space between the login button and the explanation */
  font-size: 14px; /* Smaller font size for the explanation */
  color: #555; /* Lighter text color for the explanation */
  text-align: justify;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
    border: 1px solid #ccc !important;
    border-width: 1px 1px 1px 1px !important;
    border-radius: 4px;
}

input.e-input, .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input, textarea.e-input, .e-input-group textarea.e-input, .e-input-group.e-control-wrapper textarea.e-input {
  border: 0 solid;
  border-width: 0 0 1px 0;
  height: 46px !important;
  line-height: inherit;
  margin: 0;
  margin-bottom: 0px !important;
  outline: none;
  padding: 10px !important;
  border-radius: 3px !important;
  text-indent: 0;
  width: 100%;
}

.e-input-group input.e-input, .e-input-group textarea.e-input, .e-input-group input.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]):not(:focus), .e-input-group textarea.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]), .e-input-group.e-control-wrapper input.e-input, .e-input-group.e-control-wrapper textarea.e-input, .e-input-group.e-control-wrapper input.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]):not(:focus), .e-input-group.e-control-wrapper textarea.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]) {
  border: 0 solid !important;
  border-width: 0 !important;
}

input.e-input::selection, textarea.e-input::selection,
.e-input-group input.e-input::selection, .e-input-group.e-control-wrapper input.e-input::selection,
.e-float-input input::selection, .e-float-input.e-control-wrapper input::selection,
.e-input-group textarea.e-input::selection, .e-input-group.e-control-wrapper textarea.e-input::selection,
.e-float-input textarea::selection, .e-float-input.e-control-wrapper textarea::selection,
.e-float-input.e-small textarea::selection, .e-float-input textarea::selection {
    background: transparent;  /* Removes the background color */
    color: inherit;  /* Keeps the default text color */
}

.e-outline.e-input-group.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),.e-outline.e-input-group.e-input-focus.e-control-wrapper:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),.e-outline.e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled),.e-outline.e-input-group.e-control-wrapper.e-input-focus:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) {
  border-color: transparent !important;
}

.e-ddl.e-input-group.e-control-wrapper.e-input-focus::before,
.e-ddl.e-input-group.e-control-wrapper.e-input-focus::after {
    background-color: transparent !important; /* Color of the underline */
    height: 0px; /* Thickness of the underline */
}

input.e-input,textarea.e-input,.e-input-group,.e-input-group.e-control-wrapper,.e-input-group.e-disabled,.e-input-group.e-control-wrapper.e-disabled {
  font-family: "Roboto","Segoe UI","GeezaPro","DejaVu Serif","sans-serif","-apple-system","BlinkMacSystemFont";
  font-size: 14px;
  font-weight: normal
}

.e-input-group .e-input-group-icon:last-child, .e-input-group.e-control-wrapper .e-input-group-icon:last-child, .e-input-group.e-small .e-input-group-icon:last-child, .e-input-group.e-control-wrapper.e-small .e-input-group-icon:last-child {
  margin: 6px !important;
}

.user-id-selection {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 24px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.user-id-label {
  font-weight: bold;
}

.boldbi-logo {
  margin-bottom: 16px;
  width: 100px; /* Set the desired size */
  height: auto; /* Maintain the aspect ratio */
}

.user-id-options {
  display: flex;
  gap: 12px; /* Space between radio buttons */
}

ejs-radiobutton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

ejs-radiobutton:hover {
  color: #007BFF !important;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #F2F2F2;
  width: 80%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.popup-header {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.popup-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.show-popup-btn {
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
}

input[type="password"]:focus {
  outline: none;
}

.advanced-btn {
  border: none;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  color: var(--Component-colors-Components-Buttons-Primary-button-primary-bg, #7F56D9);
}

.welcome-text {
  font-size: 32px; /* Larger text size */
  font-weight: bold; /* Make the text bold */
}

.boldbi-text {
  color: #7F56D9;
}

.hidden {
  display: none;
}
.group-header {
  font-weight: bold;
  font-size: 14px; /* Reduced font size */
  padding: 8px 12px;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5px; /* Slightly reduced letter-spacing */
}

/* Item Container Styling */
.item-container {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-bottom: 1px solid #e0e0e0;
  // background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

// .item-container:hover {
//   background-color: #e7e7e7;
// }

.empImage {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 5px;
  margin-right: 12px;
}

.empImage-placeholder {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 5px;
  margin-right: 12px;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
}

.role {
  font-size: 12px;
  font-weight: 400;
  color: #666;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .item-container {
    padding: 8px 12px;
  }

  .empImage {
    width: 40px;
    height: 40px;
  }

  .username {
    font-size: 13px;
  }

  .role {
    font-size: 11px;
  }
}

.tenant-name {
  font-size: 0.5 em;
  font-weight: bold;
  color: #333; /* Dark gray text */
  text-transform: uppercase;
}

