
@{
    Layout = null;
    ViewData["Title"] = "Error";
}
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/themes/all.css">

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<link rel="stylesheet" href="~/css/themes/adminlte.css">


<div style="overflow:hidden; padding-top:100px; margin: 0px auto 0; text-align:center">
    <div >
        <h3 style="text-align:center; font-weight: 400;" ><i class="fas fa-exclamation-triangle text-danger"></i> Access Denied</h3>
        <p>
            You do not have permission to access this page. Please contact your administrator.
        </p>
    </div>
</div>
