body html {
    width: 100%;
    height: 100%;
  }

  html,
  body,
  app-root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Roboto;
    font-size: 13px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .tab {
    padding-top: 2px;
    padding-bottom: 18px;
    cursor: pointer
  }

  .active {
    background-color: burlywood;
  }

  .e-dbrd-blueWaitingIndcator {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 54px;
    width: 54px;
    top: 50%;
    left: 50%;
    position: relative;
  }

  .e-waiting {
    position: fixed;
    display: block;
    margin: 0px auto;
    width: 54px;
    height: 54px;
    zoom: 0.5;
    margin-left: 55px;
  }

  #container {
    width: 13%;
    float: left;
    height: 100%;
    float: left;
    background: #f4f4f4;
    height: 100%;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .12);
    overflow: auto;
    overflow-x: hidden;
  }

  #grid-title {
    font-size: 17px;
    border-bottom: 1px solid #333;
    padding: 15px;
  }

  #panel {
    width: 100%;
    float: left;
    background: #f4f4f4;
    overflow: auto;
  }

  #dashboard {
    width: 100%;
    float: left;
    height: 100%;
    display: block;
  }

  .dashboard-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }

  #viewer-section {
    width: 87%;
    height: 100%;
    float: left;
  }

  #viewer-header {
    padding: 10px;
    display: block;
    float: left;
    width: 100%;
  }