html,
body,
app-root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 13px;
}
.dimension-initial ul {
    padding-left: 50px !important;
}
#property {
    width: 19.9%;
    float: left;
    height: 100vh;
    background: #f4f4f4;
    border-left: 0.5px solid #7F889E;
    overflow: auto;
    overflow-x: hidden;
}
.property-header {
    height: 5%;
    display: block;
    font-size: 15px;
    padding: 0 5px;
}
.dimension-filter {
    height: 50%;
    font-size: 18px;
    padding: 0 12px;
}
.dimension-filter p {
    font-size: 15px;
}
#heading-content {
    width: 300px;
}
.dimension-initial, .dimension-ondemand {
    font-size: 15px;
    margin: 10px;
}
.dimension-ondemand button {
    width: 140px;
    border: 0;
    line-height: 3;
    font-size: 13px;
    color: white;
    background-color: #ff4081;
    border-radius: 5px;
}
.dimension-ondemand button:hover {
    cursor: pointer;
    color: black;
    background-color: #ebb8c9;
}
.filter-button {
    text-align: center;
    margin-top: 60px;
}
.dimension-initial ul, .dimension-ondemand ul {
    padding: 5px 15px;
    list-style: auto;
    margin: 2px !important;
}
.separator {
    width: 100%;
    margin: 5px 0;
    border-top: 1px solid #7F889E;
}
#dashboard {
    width: 100%;
    float: left;
    height: 100%;
    display: block;
}
#viewer-section {
    width: 80%;
    height: 100%;
    float: left;
}
h4 {
    margin-bottom: 5px;
}
.e-multiselect {
    margin-top: 10px;
}
#error-text {
    color: red; 
    display: none;
}