@using BoldBI.Embed.Sample.Models;
@{
    ViewBag.Title = "Home";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Site.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js" type="text/javascript"></script>
    <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/Index.js"></script>
</head>
 <body onload="embedConfigErrorDialog()"> </body>
</html>