body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.active {
  background-color: burlywood;
}

.e-waiting {
  position: fixed;
  display: block;
  margin: 0px auto;
  width: 54px;
  height: 54px;
  zoom: 0.5;
  margin-left: 55px;
}

#container {
  width: 13%;
  float: left;
  height: 100%;
  float: left;
  background: #f4f4f4;
  height: 100%;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .12);
  overflow: auto;
  overflow-x: hidden;
}

#panel {
  width: 100%;
  float: left;
  background: #f4f4f4;
  overflow: auto;
}

#dashboard {
  width: 100%;
  float: left;
  height: 100%;
  display: block;
}

.dashboard-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  width: 200px;
}

#viewer-header {
  padding: 10px;
  display: block;
  float: left;
  width: 100%;
}

html,
body,
app-root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto;
  font-size: 13px;
}

.tab {
  padding-top: 2px;
  padding-bottom: 18px;
  cursor: pointer
}

.e-dbrd-blueWaitingIndcator {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 54px;
  width: 54px;
  top: 50%;
  left: 50%;
  position: relative;
}

#grid-title {
  font-size: 17px;
  border-bottom: 1px solid #333;
  padding: 15px;
}

#viewer-section {
  width: 87%;
  height: 100%;
  float: left;
}