.e-dashboardviewer .e-prop-header {    
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: .5px solid #c4ced7;
}
.e-dashboardviewer .e-prop-header p {
	color: #1b1e24;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    padding-left: 10px;
}

.e-dashboardviewer .e-prop-div {
    padding-top: 10px;
	font-family: 'Roboto';
	margin:5px;	
}

.e-dashboardviewer .e-prop-item {
    padding: 5px;
    font-size:12px;
    font-weight:normal;
	padding-top:8px;
	padding-bottom: 5px;
}
.e-dashboardviewer .e-prop-text {
    width: 50%;
    height: 25px;
    margin-left: 5px;
    margin-right: 4px;
}
.e-dashboardviewer .e-prop-textbox {
    width: 100%;
    height: 30px;
    border-radius: 3px;   
    font-size: 12px;
	color: #333;
    padding-left: 10px;
	text-overflow: ellipsis;
	border: 1px solid #c8c8c8;
}
.e-dashboardviewer .eventLog {
    color: #807F7F;
    height: 150px;
    margin: 0 0 10px;
    overflow: auto;
    padding: 10px 0;
    text-align: left;
	word-wrap: break-word;
}

.e-dashboardviewer .e-hidden {
    pointer-events : none;
    opacity: 0.5;
}

.e-dashboardviewer .e-show {
    pointer-events : auto;
    opacity: 1;
}

.e-dashboardviewer .e-clear-btn {
    margin-left: 40%;
}

.e-dashboardviewer .e-label {
    padding-left: 6px;
	font-weight:normal;
}

.e-dashboardviewer .e-event {
    margin-top: 25px;
}

.e-dashboardviewer .e-prop-radio {
  float: left;
  padding: 15px;
}

.e-dashboardviewer .e-ddl .e-input, .e-ddl .e-input[readonly] {
	font-weight:normal;
	font-size: 12px;
	font-family: inherit;
    font-style: normal;
}

.e-dashboardviewer .e-prop-div .e-chkbox-wrap .e-icon.e-checkmark:before {
	color: #3899fc;
	margin-top: 2px;
    margin-left: 1px;
}
	
.e-dashboardviewer .e-prop-div .e-apply-btn, .e-prop-div .e-apply-btn:hover {
	margin-top: 20px;
	background-color: rgb(59, 153, 252);
	color: rgb(255, 255, 255);
	width: 100%!important;
}

.e-dashboardviewer .e-prop-div .e-prop-item e-label {
	user-select: none;
}


#widgetCollectionDropDown_popup_wrapper .e-ddl-popup li {
    height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;    
    overflow-x: auto;
}
.e-ddl.e-widget .e-in-wrap{
    border-radius: 3px;
}
.e-ddl .e-in-wrap, .e-ddl-popup, .e-ddl .e-options, .e-ddl-popup .e-atc.e-search {
    border-color: #c8c8c8;
}
.e-in-wrap {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid;
}
#widgetCollectionDropDown_dropdown.e-select{
    padding-top: 8px !important;    background: none repeat scroll 0 0 #fff;
}
.e-dashboardviewer .e-prop-div .e-btn.e-select:not(.e-disable):hover{
    background: #0DACFC;
	color:white;
}
.e-dashboardviewer .e-prop-div .e-drp-btn.e-select, .e-dbrd-control .e-prop-div .e-btn.e-select .e-icon, .e-dashboardviewer .e-prop-div .e-btn.e-select.e-disable:hover, .e-dbrd-control .e-prop-div .e-btn.e-select.e-disable:hover .e-ico{
  color:white;
  background:rgb(59, 153, 252);

}