@font-face {
    font-family: 'doc-icons';
    src: url('fonts/icomoon.eot?z5gzpr');
    src: url('fonts/icomoon.eot?z5gzpr#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?z5gzpr') format('truetype'), url('fonts/icomoon.woff?z5gzpr') format('woff'), url('fonts/icomoon.svg?z5gzpr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'doc-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




.profile-menu-action {
    color: #686868;
    padding: 5px 10px;
    text-align: center;
}

.profile-info {
    border-bottom: 1px solid #bcc3cb;
    height: 40px;
}

.tab-pane > .overlay-wrapper > .overlay {
    margin-left: 0 !important;
    margin-top: 0 !important;
}

.e-dashboarddesigner-designPanel .e-dashboarddesigner-bannerPanel, #sample_dashboard_embeddedbi_designAreaContainer {
    border: 0px !important
}

.has-treeview.menu-open {
    width: 100%;
}

.multi-tab.nav-link {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.show-flex {
    display: flex !important;
    z-index: 150 !important;
}

.has-treeview.menu-open .nav-item {
    width: 100%;
}

    .has-treeview.menu-open .nav-item p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.nav-option {
    padding-right: 10px;
    /*display:none !important; */
}

/*.nav-link.sample.active .nav-option {
    display: inline !important;
}*/

.nav-link.sample:hover .nav-option {
    display: inline !important;
}

.nav-link.category {
    padding: 10px 10px 10px 15px !important;
}

.nav-link.sample {
    padding: 5px 5px 5px 47px;
    line-height: 1.25;
}

#edit-nav-button, #cancel-nav-button {
    background-color: #007bff;
    color: #ffffff;
    margin-left: 10px;
    border-radius: 5px;
}

#create-nav-button, #save-nav-button {
    color: #007bff;
    background-color: #ffffff;
    margin-left: 10px;
    border-radius: 5px;
    border-color: #007bff;
    border-width: 2px;
    border-style: solid;
}

#dashboard-name-text {
    margin-top: 5px;
}

.os-content{
    padding: 0 !important;
}

.nav-link {
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

#sidebar-menu {
    /*border-left-width: 5px;*/
    border-left-color: white;
    /*border-left-style: solid;*/
}

.nav-link sample i {
    display:none;
}

.nav-treeview > .nav-item > .no-hover:hover {
    background-color: transparent !important;
}

.dbrd-icon:hover {
    color: #1A8DDF;
}

.brand-link {
    background: #fff;
    border-bottom: 1px solid #3bacf3 !important;
}

.nav-treeview > .nav-item > .nav-link {
    color:#fff !important;
}

    .nav-treeview > .nav-item > .nav-link.active {
        background-color: #F7F8F8 !important;
        color: #fff !important;
    }

    .nav-treeview > .nav-item > .nav-link:hover {
        background-color: #F7F8F8 !important;
        color: #283A5F !important;
        font-weight: bold;
    }

.brand-link .brand-image {
    max-height: 45px !important;
}

#dashboard-name {
    padding-left: 5px;
    margin-left: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-treeview > .nav-item-heading > .nav-link:hover {
    background-color: transparent !important;
}

.nav-sidebar > .nav-item > .nav-link.active {
    background-color: #1A8DDF !important;
    color: #fff !important;
}

.toaster-block {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10000;
    float: right;
    display: none;
}

.nav-link.sample:hover .dashboard-text {
    width: 175px !important;
}


/*.layout-fixed .brand-link {
    width: 299px !important;
}*/

/*.main-sidebar {
    width: 251px !important;
}*/

button.e-control.e-btn.e-lib.e-primary.e-flat {
    background-color: #3bacf6 !important;
    width: 50px !important;
}

.e-control.e-dialog .e-footer-content .e-btn {
    width: 50px !important;
    margin-right: 5px;
    border-radius: 5px !important;
}

.e-footer-content {
    padding-bottom: 20px !important;
}

.card-success.card-outline {
    border-top: 5px solid #3bacf6 !important;
}


/*Sample Browser styles*/

.header {
    background-color: #fff;
    height: 64px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    font-family: 'Caros',sans-serif;
    font-size: 18px;
    color: #FF4801;
    float: left;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
}

.header .header-left-side {
    height: inherit;
    display: flex;
    align-items: center;
}

.header .header-left-side .header-platform {
    margin-bottom: 22px;
    margin-top: 22px;
    margin-left: 24px;
    font-family: 'Caros',sans-serif;
    font-size: 16px;
    color: #283A5E;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
}

.header .header-left-side .header-platform .header-dropdown {
    border: none;
    outline: none;
    background: #FFFFFF;
}

.header .header-left-side .header-platform .dropdown-menu li.active a {
    background-color: #dbe9ff !important;
    color: #262626 !important;
}

.header .header-left-side .header-divider {
    border-left: 1px solid #BEC3CE;
    height: 36px;
}

.header .header-switch-mode {
    font-family: 'Caros',sans-serif;
    font-size: 16px;
    margin-right: 7px;
    color: #283A5F;
}

    .header .header-switch-mode .switch {
        color: #283A5F;
        font-size: 16px;
        font-weight: bold;
        margin: 0px 5px 0px 0px;
    }

    .header .header-switch-mode .mode {
        font-family: 'Caros',sans-serif;
        font-size: 16px;
        color: #FF4801;
        text-decoration: underline;
        margin: 0px 5px 0px 0px;
    }

.header-boldbi-logo {
    margin-left: 30px;
    height: 40px;
    width:150px;
    background-image: url('/images/application/boldbi-logo.svg');
    background-repeat: no-repeat;
    font-size: 40px;
    cursor: pointer;
}
.pushbutton
{
    display:none !important;
}

.main-sidebar #sidebar-menu, ul.flex-column {
    float: left;
}

.main-sidebar #sidebar-menu {
    overflow: auto;
    height: 100%;
    width:100%;
}

.main-sidebar #sidebar-menu .dropdown-btn {
    width: 250px;
    height: 40px;
    padding: 0 0 0 16px;
    cursor: default;
    outline: none;
    border: none;
    background: white;
    float: left;
}


.main-sidebar #sidebar-menu .dropdown-btn .icon-container {
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    margin: 12px 0 10px;
    float: left;
}

.main-sidebar #sidebar-menu .display-none {
    display: none;
}

    .main-sidebar #sidebar-menu .dropdown-btn .dropdown-btn-content, a.nav-link p{
        margin: 11px 0 12px 4px;
        font-family: Caros;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #283A5F;
        float: left;
    }

.main-sidebar #sidebar-menu .dropdown-container {
    width: 250px;
    height: 40px;
    padding: 3px 32px;
}

    .main-sidebar #sidebar-menu .dropdown-container .dropdown-content, ul.nav-treeview li.nav-item a p{
        padding: 8px 0 9px 10px;
        border-radius: 4px;
        width: 186px;
        height: 34px;
        font-size: 14px;
        line-height: 17px;
        float: left;
        color: #283A5F;
    }
a.nav-link p i {
    font-size: 17px;
}
a.nav-link p span {
    top: -1px;
    position: relative;
}
    li .nav-item a.sample {
    margin-left: 20px;
}

.main-sidebar #sidebar-menu .dropdown-container.active .dropdown-content, ul.nav-treeview li.nav-item a.active p {
    background: #F7F8F8;
    font-weight: bold;
    color: #283A5F !important;
}

@media screen and (max-width: 780px) {
    .footer #footer-powered_by {
        display: none;
    }

    .footer #copyright {
        margin-left: 20px !important;
    }
    
    .header .header-left-side .header-platform,
    .header .header-left-side .header-divider,
    .header .header-switch-mode {
        display: none;
    }

}

    @media screen and (max-width: 940px) {
        .header .header-right-side a,
        .header .header-switch-mode {
            display: none;
        }

        .header .hamburger-icon {
            display: block;
        }
    }

    @media screen and (max-width: 360px) {
        .header .header-right-side a,
        .header .header-switch-mode {
            display: none;
        }

        .header .hamburger-icon {
            display: block;
        }

        #loader{
            padding-left:0px !important;
        }
    }

    .header .header-right-side {
        height: inherit;
        display: flex;
        align-items: center;
    }

        .header .header-right-side a {
            font-family: 'Caros',sans-serif;
            font-size: 16px;
            font-weight: 200;
            cursor: pointer;
            text-decoration: none;
            margin: 0 20px 0px 0;
            color: #283A5F;
            opacity: 1;
        }

            .header .header-right-side a:hover {
                color: #FF4801;
            }

        .header .header-right-side .header-demo-link {
            color: #FFFFFF;
            background-color: #FF4801;
            height: 36px;
            width: 160px;
            text-align: center;
            padding-top: 8px;
            font-family: Caros-medium;
            font-size: 14px;
            font-weight: 200;
            cursor: pointer;
            text-decoration: none;
            opacity: 1;
            border-radius: 2px;
        }

    /*Body Container*/

    #soln-body-container {
        position: absolute !important;
        top: 60px;
        width: 100%;
        height: calc(100% - 60px);
    }

.content-wrapper #body-container {
    padding: 24px 24px 20px;
}

#body-container .e-dashboarddesigner-designPanel .e-dashboarddesigner-bannerPanel .e-dbrd-filterListMenu {
    height: auto !important;
} 

#body-container .row {
    padding: 0 14px 0 25px;
    margin-right: 0px;
    background: #f4f6f9;
}

#body-container .tab-name {
    margin: 0 0 8px 0;
    font-family: Caros-medium;
    font-size: 19px;
    font-weight: 800;
    color: #283A5F;
}

#body-container .tab-description {
    font-family: Caros;
    font-size: 14px;
    text-align: Left;
    vertical-align: Top;
    color: #283A5F;
    margin: 0 0 24px 0;
}

#body-container #tab-container {
    border: 1px Solid #E9EBEE;
    background: #FFFFFF;
    height: 40px;
}

#body-container #tab-container .tab-container-nav {
    float: left;
}

#body-container #tab-container .tab-container-icon {
    width: 20px;
    height: 20px;
    float: right;
    line-height: 20px;
    margin: 10px 20px 10px 0;
    cursor: pointer;
}

#body-container #image-container {
    margin: 12px 0 0 0;
}

#body-container #property-container .display-none {
    display: none;
}

#body-container .image-description {
    margin: 24px 0 8px 0;
    color: #283A5F;
}

#body-container #image-container .tab-content #sample-code-content .sample-code-type {
    background: #FFFFFF;
    border-top: 1px Solid #E9EBEE;
    border-bottom: 1px Solid #E9EBEE;
    height: 40px;
}

#body-container #image-container .tab-content #sample-code-content .sample-code-type #activeTab {
    float: left;
}

#body-container #property-container.rows{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

#body-container #property-container.rows #image-container {
    width: 78%;
}

#body-container #image-container .tab-content #sample-code-content .csharp-dropdown {
    font-family: 'Caros';
    outline: none;
    border: none;
    float: right;
    margin: 10px 16px 10px 0;
    font-size: 16px;
    height: 20px;
    width: 135px;
    color: #283A5E;
}

#body-container #image-container .tab-content #sample-code-content {
    background: #FFFFFF;
}

#body-container #dashboard-property {
    width: 21%;
    background: #FFFFFF;
    border: 1px solid #E9EBEE;
    margin: 12px 0 0 13px;
    padding: 0 1.4% 12px;
}

#body-container #dashboard-property .property-heading-container {
    height: 40px;
    margin: 20px 1px 24px;
}

#body-container #dashboard-property .property-heading-container .property-heading {
    padding: 10px 0 10px 0;
    float: left;
    font-family: 'Caros-medium';
    color: #283A5F;
    font-weight: bold;
}

#body-container #dashboard-property .property-heading-container .property-close-icon {
    float: right;
    cursor: pointer;
}

#body-container #dashboard-property .dashboard-label {
    color: #283A5F;
    font-size: 14px;
    font-family: Caros;
    font-weight: normal;
    margin: 0 0 8px 0;
}

#body-container #dashboard-property .property-heading-container i {
    height: 12px;
    width: 12px;   
    margin: 14px 0 14px 14px;
    line-height: 12px;
}

#body-container #dashboard-property .dashboard-text-field,
#body-container #dashboard-property .pinboard-text-field {
    margin-bottom: 24px;
}

.header-platform .dashboard-text-field .dashboard-input-field,
.header-platform .pinboard-text-field .dashboard-input-field {
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    border: 0px solid #A9B0BE;
    outline: #A9B0BE;
    background: none;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}

#body-container #dashboard-property .dashboard-input-field, #body-container #dashboard-property .dashboard-text-field .dashboard-input-field,
#body-container #dashboard-property .dashboard-input-field, #body-container #dashboard-property .pinboard-text-field .dashboard-input-field {
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid #A9B0BE;
    outline: #A9B0BE;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}

#body-container #dashboard-property button.dashboard-input-field::after, button.dashboard-input-field::after {
    margin: 11px 0;
    float: left;
}

#body-container #dashboard-property .dashboard-text-field ul,
#body-container #dashboard-property .pinboard-text-field ul {
    width: 15%;
}

#body-container #dashboard-property .dashboard-text-field ul.show-extend,
#body-container #dashboard-property .pinboard-text-field ul.show-extend {
    width: 17.5%;
}

#body-container #dashboard-property .dashboard-text-field .separator,
#body-container #dashboard-property .pinboard-text-field .separator {
    width: 100%;
    margin: 0 0 5px;
    border-top: 1px solid #7F889E;
}

#body-container #dashboard-property .dashboard-text-field .recurrence,
#body-container #dashboard-property .pinboard-text-field .recurrence {
    font-size: 14px;
}

#body-container #dashboard-property .dashboard-text-field #eventTraceElement,
#body-container #dashboard-property .pinboard-text-field #eventTraceElement {
    font-size: 14px;
    height: 180px;
    overflow-y: scroll;
}

#body-container #dashboard-property .dashboard-text-field #eventTraceElement p,
#body-container #dashboard-property .pinboard-text-field #eventTraceElement p {
    font-size: 14px;
    margin: 0 0 5px 20px;
}

#body-container #dashboard-property .dashboard-text-field .number-box,
#body-container #dashboard-property .pinboard-text-field .number-box {
    width: 30%;
    margin: 0 10px 10px;
    padding: 0 0 0 10px;
    outline: #7F889E;
}

#body-container #dashboard-property #widget-container.widget-disable {
    pointer-events: none;
    opacity: 0.4;
}

#body-container #dashboard-property .dashboard-text-field .property-checkbox,
#body-container #dashboard-property .pinboard-text-field .property-checkbox {
    margin: 0 10px 0 0;
    height: 14px;
    width: 14px;
    vertical-align: -2px;
    cursor: pointer;
}

#body-container #dashboard-property .dashboard-text-field .property-checkbox + label,
#body-container #dashboard-property .pinboard-text-field .property-checkbox + label {
    color: #283A5F;
    font-size: 14px;
    font-family: Caros;
    font-weight: normal;
    cursor: pointer;
}

.header-platform .dashboard-text-field ul li,
.header-platform .pinboard-text-field ul li {
    padding: 5px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
#body-container #dashboard-property .dashboard-text-field ul li,
#body-container #dashboard-property .pinboard-text-field ul li {
    padding: 2px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

#body-container #dashboard-property .dashboard-text-field ul li:hover, .header-platform .dashboard-text-field ul li:hover,
#body-container #dashboard-property .pinboard-text-field ul li:hover, .header-platform .pinboard-text-field ul li:hover {
    background: #eee;
}

#body-container #dashboard-property .dashboard-text-field ul li.active, .header-platform .dashboard-text-field ul li.active,
#body-container #dashboard-property .pinboard-text-field ul li.active, .header-platform .pinboard-text-field ul li.active {
    background: #dbe9ff;
}

#body-container #dashboard-property .dashboard-text-field ul li.disabled,
#body-container #dashboard-property .pinboard-text-field ul li.disabled {
    background: #eee;
    cursor: default;
}

#body-container #dashboard-property #demo-user ul, #body-container #dashboard-property #dynamic-connection-string ul {
    width: auto;
    font-size: 14px;
}

#body-container #dashboard-property #demo-user ul li, #body-container #dashboard-property #dynamic-connection-string ul li {
    overflow: unset;
    pointer-events: none;
}

#body-container #dashboard-property .load-dashboard-button {
    padding: 6px 0 5px 0;
    text-align: center;
    height: 28px;
    line-height: 14px;
    background: #FF4801;
    border: 1px solid #FF4801;
    border-radius: 4px;
    font-family: 'Caros-medium';
    cursor: pointer;
}

#body-container #dashboard-property .load-dashboard-button span { 
    color: #FFFFFF;
    font-size: 14px;
}

#body-container #dashboard-property .dashboard-text-field button,
#body-container #dashboard-property .pinboard-text-field button {
    padding: 0 0 0 5px;
    color: #7F889E;
    background: #FFFFFF;
}

#body-container #dashboard-property .dashboard-text-field p,
#body-container #dashboard-property .pinboard-text-field p {
    font-size: 14px;
}

#body-container #dashboard-property textarea.dashboard-input-field {
    background: #FFFFFF;
    padding: 5px;
    font-size: 14px;
    line-height: 20px !important;
    height: 115px !important;
}

#external-dropdownlist.show-dropdown {
    position: absolute;
    transform: translate3d(1258px, 427px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    display: block;
}

#external-dropdownlist li label {
    width: 80%;
}
.dashboard-text-field button span {
    float: left;
    width: 76%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 5px;
    color: black;
}

#body-container #dashboard-property .dashboard-text-field button span,
#body-container #dashboard-property .pinboard-text-field button span {
    float: left;
    width: 90%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 5px;
    color: black;
}

.row #embedid {
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    width: 100%;
    min-height: calc(100vh - calc(3.5rem + 1px));
}

#categoryTab, #activeTab {
    font-family: 'Caros', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

#categoryTab li a, #activeTab li a {
    color: #283A5E !important;
}

#categoryTab li.active a {
    color: #FF4800 !important;
    border-bottom: 2px solid #FF4800;
    display: block;
}

#activeTab li.active a {
    color: #FF4800 !important;
}

#categoryTab .tab-container-content, #activeTab .tab-container-content {
    font-size: 16px;
    padding: 9px 16px;
    float: left;
}

#toc {
    padding-top: 10px;
}

        #toc ul {
            list-style-type: none;
            padding-left: 15px;
        }

        #toc li a {
            height: 40px;
            width: 200px;
            font-family: 'Caros', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17.25px;
            letter-spacing: 0px;
            text-align: left;
            color: #3C4D6F;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

    #toc li a:hover {
        cursor: pointer;
        background: #F7F8F8 !important;
        border-radius: 4px !important;
    }

    #toc li.active a {
        font-family: Caros-bold;
        color: #283A5F !important;
        line-height: 16px;
        background: #F7F8F8;
        border-radius: 4px;
    }



#inttoc {
    padding-top: 10px;
}

    #inttoc ul {
        list-style-type: none;
        padding-left: 15px;
    }

    #inttoc li a {
        height: 40px;
        width: 200px;
        font-family: 'Caros', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17.25px;
        letter-spacing: 0px;
        text-align: left;
        color: #3C4D6F;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #inttoc li a:hover {
        cursor: pointer;
        background: #F7F8F8 !important;
        border-radius: 4px !important;
    }

    #inttoc li.active a {
        font-family: Caros-bold;
        color: #283A5F !important;
        line-height: 16px;
        background: #F7F8F8;
        border-radius: 4px;
    }

 
    @font-face {
        font-family: 'Caros';
        font-style: normal;
        font-weight: normal;
        src: local('Caros Regular'), url('Caros.woff') format('woff');
    }

    @font-face {
        font-family: 'Caros-bold';
        font-style: normal;
        font-weight: normal;
        src: local('Caros Regular'), url('Caros Bold.woff') format('woff');
    }

    @font-face {
        font-family: 'Caros-medium';
        font-style: normal;
        font-weight: normal;
        src: local('Caros Regular'), url('Caros Light.woff') format('woff');
    }

    #soln-bread-crumb {
        font-size: 16px;
        color: #FF4801;
        cursor: default;
        padding: 20px 0;
        font-family: 'Caros',sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

        #soln-bread-crumb a, #soln-bread-crumb a:hover {
            color: #FF4801;
        }

.sol-grid-container {
    padding: 0 0 0 5px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    background: #f4f6f9;
}

    .row #sol-imagetitle {
        padding: 10px 10px 10px 10px;
        font-size: 16px;
        color: black;
        text-align: left;
        line-height: 24px;
        text-align: center;
        font-family: 'Caros', sans-serif;
        background-color: white;
        min-height: 70px;
        display: table;
        width: 100%;
        box-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.12);
    }

.sol-container {
    padding: 0px 10px 20px 10px !important;
}

    .sol-container a {
        border: 1px solid #f4f6f9;
        border-radius: 4px;
        float: left;
        width: 100%;
    }

            .sol-container a:hover {
                border: 1px solid #c8c8c8;
            }

    li.active a {
        color: #FF4801 !important;
    }

    .footer {
        display: none;
    }

    .footer {
        width: 100%;
        display: block;
        margin-bottom: 0px;
        height: 55px;
        background-color: #f6f6f6;
        border-top: 1px solid #d3d3d3;
        z-index: 101;
        position: relative;
    }

    @media screen and (min-width: 1240px) {
        div#doc-footer {
            width: 100%;
        }
    }

    /*Copyright*/
    .footer #footer-copyright {
        margin-top: 15px;
        float: left;
    }

    .footer #copyright {
        color: #686868;
        font-size: 12px;
        padding-top: 18px;
        padding-bottom: 16px;
        margin-left: 260px;
        text-decoration: none;
    }

.sidebar-collapse .footer #copyright {
    margin-left: 10px;
}

.footer #footer-powered_by {
    width: 160px;
    height: 30px;
    background-image: url('/images/powered-by-syncfusion.svg');
    background-repeat: no-repeat;
    float: right !important;
    padding-left: 0px;
    margin-top: 13px;
}

#loader {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 50;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0 0 60px 250px;
    right: 0;
    display: flex;
    margin: auto;
}

@media screen and (max-width: 500px) {
    #loader {
        padding-left: 0px !important;
    }
}

@media screen and (max-width: 1300px) {
    .header .header-switch-mode,
    .header .header-switch-mode .switch,
    .header .header-switch-mode .mode {
        font-size: 12px;
    }
}

@media screen and (max-width: 1150px) {
    .header .header-switch-mode,
    .header .header-switch-mode .switch,
    .header .header-switch-mode .mode {
        font-size: 11px;
    }
}

@media screen and (max-width: 1000px) {
    .header .header-switch-mode,
    .header .header-switch-mode .switch,
    .header .header-switch-mode .mode {
        display: none;
    }
}

.bottom-tab-category {
    border-top: 1px Solid #E9EBEE;
    border-bottom: 1px Solid #E9EBEE;
}
#sample-code-content{
    border-left: 1px Solid #E9EBEE;
    border-right: 1px Solid #E9EBEE;
}

.primary-create-button {
    background: #0565ff;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    min-width: 90px;
    outline: none;
    text-align: center;
    padding: 0 15px;
    border: 1px solid #0451cc;
    display: block;
    font-size: 13px;
    letter-spacing: .3px;
    margin: 0 auto 32px auto;
}
