@{
    ViewBag.Title = "Home";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <iframe src='http://localhost:49994/bi/site/site1/dashboards/a4ba5d55-01c8-4793-90ff-c194daf0dab3/Information%20Technology/Data%20filter-Sample?isembed=true&tokenParam=Sales&hide_tool=dp' 
       id='dashboard-frame' width='100%' height='600px' allowfullscreen frameborder='0'></iframe>
</body>

</html>
